<body class="sb-nav-fixed">
  <div id="layoutSidenav_content">
    <main class="mt-4">
      <div class="col-6 mx-auto">
        {{#if message}}
        {{#with message}}
        <div class="alert alert-{{alert}} fade show">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{content}}
        </div>
        {{/with}}
        {{/if}}
      </div>
      <div class="row mt-4">
        {{#with category}}
        <div class="col-12 col-lg-3 overflow-hidden"><!--left col-->
          <div class="text-center">
            <img src="{{imgUrl}}" class="img-thumbnail mb-3" alt="avatar">
            <h6>Upload a different photo...</h6>
            <form class="form" action="/admin/category_details/update_image/{{id}}" enctype="multipart/form-data" method="POST">
              <input type="file" class="text-center center-block file-upload mb-3" id="myFile" name="myFile"
                multiple="multiple" accept="image/png, image/jpeg" />
              <input class="btn btn-success" type="submit" value="Upload" />
            </form>
          </div>
          </hr><br>

        </div><!--/col-3-->
        <div class="col-12 col-lg-9">
          <form class="form" action="/admin/category_details/edit" method="post" id="registrationForm">
            <div class="form-group d-none">
              <div class="col-xs-6">
                <input type="number" class="form-control" name="id" id="id" value="{{id}}" readonly>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="title">
                    <h4>Name</h4>
                  </label>
                  <input type="text" class="form-control" name="title" id="title" value="{{name}}"
                    placeholder="Enter title">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                    Save</button>
                    <button class="btn btn-lg btn-danger" type="submit" form="deleteForm">
                    Delete</button>
                </div>
              </div>
          </form>
          <form id="deleteForm" action="/admin/category_details/delete" method="post">
            <input type="number" class="d-none" name="id" id="id" value="{{id}}" readonly>
          </form>
        </div><!--/tab-content-->
        {{/with}}
      </div><!--/col-9-->
    </main>
  </div>
</body>