<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <main>
            <div class="update">
                <div class="avt">
                    <img src="{{admin.avatarUrl}}" width="50%" alt="avatar" >
                </div>
                <div class="info">
                    <div>Name:&ensp;{{admin.name}}</div>
                    <div>Date of birth:&ensp;{{admin.dob}}</div>
                    <div>Phone number:&ensp;{{admin.phone}}</div>
                    <div>Password:&ensp;**********</div>
                </div>
                <br><br><br>
                <div class="edit_info">
                    <div>Edit Profile:</div>
                    <form method="post">
                        <div>
                            Name: <input type="text" placeholder="Nguyen Van A" name="name">
                        </div>                        
                        <div>
                            Date of birth: <input type="text" placeholder="2001-01-01" name="dob">
                        </div>
                        <div>
                            Phone number: <input type="tel" placeholder="0903123456" name="phone">
                        </div>                        
                        <div>
                            <div>
                                Password: <input type="password" placeholder="Enter your password" name="pass">
                                <span style="color: red">{{message}}</span>
                            </div>                            
                            <div>
                                New password: <input type="password" placeholder="Enter your new password" name="pass1">
                            </div>                            
                            <div>
                                New password again: <input type="password" placeholder="Enter your new password" name="pass2">
                            </div>                            
                        </div>  
                        <input type="submit" value="Update infomation">                      
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>