<style>
    .card-stepper {
        z-index: 0
    }

    #progressbar-2 {
        color: #455A64;
    }

    #progressbar-2 li {
        list-style-type: none;
        font-size: 13px;
        width: 33.33%;
        float: left;
        position: relative;
    }

    #progressbar-2 #step1:before {
        content: '\f058';
        font-family: "Font Awesome 5 Free";
        color: #fff;
        width: 37px;
        margin-left: 0px;
        padding-left: 0px;
    }

    #progressbar-2 #step2:before {
        content: '\f058';
        font-family: "Font Awesome 5 Free";
        color: #fff;
        width: 37px;
    }

    #progressbar-2 #step3:before {
        content: '\f058';
        font-family: "Font Awesome 5 Free";
        color: #fff;
        width: 37px;
        margin-right: 0;
        text-align: center;
    }

    #progressbar-2 #step4:before {
        content: '\f111';
        font-family: "Font Awesome 5 Free";
        color: #fff;
        width: 37px;
        margin-right: 0;
        text-align: center;
    }

    #progressbar-2 li:before {
        line-height: 37px;
        display: block;
        font-size: 12px;
        background: #c5cae9;
        border-radius: 50%;
    }

    #progressbar-2 li:after {
        content: '';
        width: 100%;
        height: 10px;
        background: #c5cae9;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 15px;
        z-index: -1;
    }

    #progressbar-2 li:nth-child(1):after {
        left: 1%;
        width: 100%
    }

    #progressbar-2 li:nth-child(2):after {
        left: 1%;
        width: 100%;
    }

    #progressbar-2 li:nth-child(3):after {
        left: 1%;
        width: 100%;
        background: #c5cae9 !important;
    }

    #progressbar-2 li:nth-child(4) {
        left: 0;
        width: 37px;
    }

    #progressbar-2 li:nth-child(4):after {
        left: 0;
        width: 0;
    }

    #progressbar-2 li.active:before,
    #progressbar-2 li.active:after {
        background: #6520ff;
    }
</style>

{{#each orderList}}

<div class="col-12">
    <div class="card card-stepper text-black" style="border-radius: 16px;">
        <div class="card-body p-5">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <div>
                    <h5 class="mb-0">Total price <span class="text-primary font-weight-bold">{{totalPrice}}vnđ</span>
                    </h5>
                    <span>
                        <a type="button" class="btn btn-primary btn-lg" href="/customer/order_details/{{id}}">Check details order</a>
                    </span>
                </div>
                <div class="text-end">
                    <p class="mb-0">Created At <span>{{createAt}}</span></p>
                    <p class="mb-0">Address <span class="font-weight-bold">{{address}}</span></p>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar w-{{progress}}" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="d-lg-flex align-items-center">
                    <i class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                    <div>
                        <p class="fw-bold mb-1">Order</p>
                        <p class="fw-bold mb-0">Processed</p>
                    </div>
                </div>
                <div class="d-lg-flex align-items-center">
                    <i class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                    <div>
                        <p class="fw-bold mb-1">Order</p>
                        <p class="fw-bold mb-0">Shipped</p>
                    </div>
                </div>
                <div class="d-lg-flex align-items-center">
                    <i class="fas fa-home fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                    <div>
                        <p class="fw-bold mb-1">Order</p>
                        <p class="fw-bold mb-0">Arrived</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}